<!-- public/index.html -->
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bem-vindo</title>
	<script type="text/javascript">
		function close_window() {
  if (confirm("Gostaria de encerrar o jogo ?")) {
    window.close();
  }

	
}
	</script>
</head>

<body>
<h1> Para encerrar o jogo aperte o botão abaixo </h1>

	<button id ='btn' onclick="close_window()">Encerrar</button>

</body>
</html>
